- title "File Import Formats"

%table
  %tr
    %th Name
    %th Currency
    %th Date Row
    %th Total Amount Row
    %th Tax Amount Row
    %th Description Row
    %th Second Description Row
    %th Identifier Row
    %th Has Title
    %th Day Follows Month
  - for file_import_format in collection
    %tr
      %td= file_import_format.name
      %td= file_import_format.currency
      %td= file_import_format.date_row
      %td= file_import_format.total_amount_row
      %td= file_import_format.tax_amount_row
      %td= file_import_format.description_row
      %td= file_import_format.second_description_row
      %td= file_import_format.identifier_row
      %td= file_import_format.has_title_row
      %td= file_import_format.day_follows_month
      %td= link_to "Show", resource_url(file_import_format)
      %td= link_to "Edit", edit_resource_url(file_import_format)
      %td= link_to "Destroy", resource_url(file_import_format), :confirm => 'Are you sure?', :method => :delete

%footer
  = link_to "New File Import Format", new_resource_path
