#cart.block
  %h3 Pending Matches
  .content
    .inner
      %ol.list
        - @cart.ledger_items.each do |ledger_item|
          %li[ledger_item, :cart]
            %p= render :partial => 'story', :locals => { :ledger_item => ledger_item }
      - if @cart.reconciled?
        %p= link_to('Save match', save_cart_path)
      - else
        %p= link_to 'Discard match', empty_cart_path
      - if @cart.size == 1
        %p= link_to('Define a rule', new_account_rule_path(@cart.ledger_items.first.account, :ledger_item_id => @cart.ledger_items.first.id), :id => 'create-match')
        %p Or create and match with a new transaction in the following account:
        - form_for(@cart.ledger_items.first, :url => balance_cart_path, :html => { :class => "form" }) do |f|
          .group
            = collection_select(:ledger_item, :account_id, Account.all, :id, :name, { :include_blank => true }, :class => 'autocomplete')
          .group.navform.wat-cf
            %button.button{:type => 'submit'}
              %img{:src => '/images/web-app-theme/tick.png', :alt => 'Save'}
              Create match