#cart
  %h1
    %span Matches
  
  .cart
    %table.data
      %thead
        %tr
          %th.small
            Account
          %th.small
            Sender
          %th.small
            Recipient
          %th.small
            Date
          %th.small
            Total
          %th.small
            Tax
      %tfoot
        %tr
          %td.smaller
            = link_to "Discard all", empty_cart_path
            - if @cart.reconciled?
              = button_to "Reconcile", save_cart_path
            - else
              - if @cart.size == 1
                - semantic_form_for @ledger_item, :url => balance_cart_path do |f|
                  - f.inputs do
                    %label{:for => "ledger_item_account_id"} Account
                    - hamlified_grouped_tree_select(Account.roots, "ledger_item", "account_id", @ledger_item.account)
                  - f.buttons do
                    = f.commit_button :button_html => { :value => 'Create match' }

      %tbody
        - for ledger_item in @cart.ledger_items
          %tr[ledger_item]
            %td= ledger_item.account.name
            %td= ledger_item.sender.name
            %td= ledger_item.recipient.name
            %td= ledger_item.transacted_on
            %td.currency= monetize(ledger_item.total_amount, ledger_item.currency_symbol)
            %td.currency= monetize(ledger_item.tax_amount, ledger_item.currency_symbol)
