- semantic_form_for [@ledger_account, @ledger_item] do |f|
  - f.inputs do
    = f.error_messages
    = f.input :sender, :prompt => "Select sender"
    = f.input :recipient, :prompt => "Select recipient"
    = f.input :issued_on
    = f.input :total_amount, :input_html => { :size => 30 }
    = f.input :tax_amount, :required => false, :input_html => { :size => 30 }
    // TODO The following collection should be put away somewhere, perhaps a currency resource the bookkeeper can edit.
    = f.input :currency, :as => :select, :prompt => "Select currency", :collection => ["USD", "GBP", "EUR", "CAD", "JPY", "AUD"]
    = f.input :description, :required => false, :input_html => { :size => 30 }
    = f.input :identifier, :required => false, :input_html => { :size => 30 }
    - f.buttons do
      = f.commit_button :button_html => { :value => t('formtastic.labels.ledger_item.commit') }