- semantic_form_for resource do |f|
  - f.inputs do
    = f.error_messages
    %li{:class => "select required account", :id => "ledger_item_account_input"}
      %label{:for => "ledger_item_account_id"}
        Account
        <abbr title="required">*</abbr>
      - hamlified_grouped_tree_select(Account.roots, "ledger_item", "account_id", resource.account)
      %p.inline-hints= link_to "New account", new_account_path
    -# TODO Can't get this to default to today's date
    = f.input :transacted_on, :prompt => true, :start_year => Time.now.year - 2, :end_year => Time.now.year + 1
    = f.input :sender, :prompt => "Select sender", :hint => "<a href=\"/people/new\">New sender</a>"
    = f.input :recipient, :prompt => "Select recipient", :hint => "<a href=\"/people/new\">New recipient</a>"
    -# TODO The following collection should be put away somewhere, perhaps a currency resource the bookkeeper can edit.
    = f.input :currency, :as => :select, :prompt => "Select currency", :collection => ["USD", "GBP", "EUR", "CAD", "JPY", "AUD"]
    = f.input :total_amount, :input_html => { :size => 30 }
    = f.input :tax_amount, :required => false, :input_html => { :size => 30 }
    = f.input :description, :required => false, :input_html => { :size => 30 }
    = f.input :identifier, :required => false, :input_html => { :size => 30 }
  - f.buttons do
    = f.commit_button :button_html => { :value => t('formtastic.labels.commit') }