%tr{:class => "smaller #{cycle('odd', 'even')}"}[ledger_item]
  %td= link_to(ledger_item.id, ledger_item)
  %td= link_to(ledger_item.account.name, account_path(ledger_item.account))
  %td
    - if ledger_item.sender
      = link_to(ledger_item.sender.name, contact_path(ledger_item.sender))
    - else
      = button_to("Add", edit_resource_path(ledger_item), :method => :get)
  %td
    - if ledger_item.recipient
      = link_to(ledger_item.recipient.name, contact_path(ledger_item.recipient))
    - else
      = button_to("Add", edit_resource_path(ledger_item), :method => :get)
  %td= ledger_item.transacted_on
  %td.currency= monetize(ledger_item.total_amount, ledger_item.currency_symbol)
  %td=h truncate(ledger_item.description)
  %td
    - if ledger_item.matched?
      = link_to("View matches", ledger_item.match)
    - elsif ledger_item.matchable? && !@cart.ledger_items.include?(ledger_item)
      - form_tag(add_to_cart_path, :method => "post") do
        = hidden_field_tag(:id, ledger_item.id)
        = submit_tag("Match")