%tr{:class => "#{cycle('odd', 'even')}"}[ledger_item]
  %td.date
    = ledger_item.transacted_on.to_s(:rfc822)
  %td.details
    %strong= link_to truncate(ledger_item.account.name), ledger_item.account
    - if ledger_item.matchable?
      Sent by
      = link_to(truncate(ledger_item.sender.name), contact_path(ledger_item.sender))
      to
      = link_to(truncate(ledger_item.recipient.name), contact_path(ledger_item.recipient))
      - if ledger_item.matched?
        and 
        = link_to("posted against #{ledger_item.matches.collect{ |m| m.account.name }.join(", ")}", ledger_item.match)
  %td.description
    = ledger_item.description 
  %td.currency
    = monetize(ledger_item.total_amount, ledger_item.currency_symbol)  
  %td.last
    - if ledger_item.matchable? && !ledger_item.matched? && !@cart.ledger_items.include?(ledger_item)
      = link_to("Match", add_to_cart_path(:id => ledger_item.id), :class => "highlight")
      |
    = link_to 'Edit', edit_ledger_item_path(ledger_item), :class => (!ledger_item.matchable? ? "highlight" : "")    