.new-ledger-item
  - if !new_ledger_item.errors.empty?
    = error_messages_for 'ledger_item', :object => new_ledger_item
  .columns.wat-cf
    - fields_for 'ledger_items[]', new_ledger_item, :index => (new_ledger_item_counter rescue 'NEW_RECORD') do |form|
      .column.left
        .group
          = form.label :account_id, nil, :class => "label"
          = form.select :account_id, Account.all.collect{ |a| [a.name, a.id] }, { :include_blank => true }, :class => 'autocomplete'
        .group
          = form.label :sender_id, nil, :class => "label"
          = form.select :sender_id, Contact.all.collect{ |c| [c.name, c.id] }, { :include_blank => true }, :class => 'autocomplete'
        .group
          = form.label :recipient_id, nil, :class => "label"
          = form.select :recipient_id, Contact.all.collect{ |c| [c.name, c.id] }, { :include_blank => true }, :class => 'autocomplete'
        .group
          = form.label :total_amount, nil, :class => "label"
          = form.text_field :total_amount, :class => 'total-amount text_field'
        .group
          = form.label :tax_amount, nil, :class => "label"
          = form.text_field :tax_amount, :class  => "text_field"
        .group
          = form.label :description, nil, :class => "label"
          = form.text_field :description, :class  => "text_field"
      .column.right
        .group
          = form.label :transacted_on, nil, :class => "label"
          = form.date_select :transacted_on, :start_year => Time.now.year - 5, :end_year => Time.now.year + 1, :use_short_month => true
        .group
          = form.label :currency, nil, :class => "label"
          = form.select :currency, ['USD', 'GBP', 'EUR', 'CAD', 'JPY', 'AUD']
