- title 'Transactions'
- javascript 'ledger_items'
- data_for_obese_autocomplete

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to 'Create a new transaction', new_ledger_item_path
      %li= link_to 'Export transactions to a CSV file', ledger_items_path(params.merge(:format => :csv))
  - unless @cart.ledger_items.empty?
    = render 'cart'

#block-tables.block
  .content
    %h2.title List of transactions
    .inner
      = render "search"
    - if @ledger_items.size > 0
      .inner
        %table#ledger_items.table
          %tfoot
            %tr
              %td{:colspan => 3}
              %td.currency
                - counter = 0
                %strong= @totals.collect{ |k, v| monetize(v, k) }.join('<br>').html_safe!
          %tbody
            %tr
              %th.first Date
              %th Details 
              %th Description
              %th Amount
              %th.last
            = render :partial => 'ledger_item', :collection => @ledger_items
        .actions-bar.wat-cf
          = will_paginate(@ledger_items, :inner_window => 2, :class => 'pagination')
    - else
      %p No transactions found