- title 'Transactions'
- javascript 'ledger_items'

= data_for_obese_autocomplete

= render :partial => 'search'

- unless @cart.ledger_items.empty?
  = render(:partial => 'cart').html_safe!

- if collection.size > 0
  %table
    %tfoot
      %tr
        %td{:colspan => 4, :class => 'currency'}
          - counter = 0
          = @totals.collect{ |k, v| monetize(v, k) }.join('<br>').html_safe!
    %tbody
      = render(:partial => 'ledger_item', :collection => collection)
  = will_paginate(collection, :inner_window => 2, :class => 'pagination')
- else
  %p No transactions found
  
.meta
  = link_to('New transaction »', new_ledger_item_path(:account => params[:account]), :class => 'button')
  = link_to('Export »', ledger_items_path(params.merge(:format => :csv)), :class => 'button')