- title "Ledger Item"

%p
  %strong Account:
  =h resource.account.name
%p
  %strong Sender:
  =h resource.sender.name if resource.sender
%p
  %strong Recipient:
  =h resource.recipient.name if resource.recipient
%p
  %strong Transacted On:
  = resource.transacted_on
%p
  %strong Total Amount:
  = resource.total_amount
%p
  %strong Tax Amount:
  = resource.tax_amount
%p
  %strong Currency:
  =h resource.currency
%p
  %strong Description:
  =h resource.description
%p
  %strong Identifier:
  =h resource.identifier
%p
  %strong LedgerItem Group:
  = resource.match_id

.buttons
  = link_to "Edit", edit_resource_path
  = link_to "Delete", resource_path, :confirm => 'Are you sure?', :method => :delete
  = link_to "View all", collection_path