- title "Ledger Item"

%p
  %strong Account:
  = resource.account.name
%p
  %strong Sender:
  = resource.sender.name if resource.sender
%p
  %strong Recipient:
  = resource.recipient.name if resource.recipient
%p
  %strong Transacted On:
  = resource.transacted_on
%p
  %strong Total Amount:
  = resource.total_amount
%p
  %strong Tax Amount:
  = resource.tax_amount
%p
  %strong Currency:
  = resource.currency
%p
  %strong Description:
  = resource.description
%p
  %strong Identifier:
  = resource.identifier
%p
  %strong Account:
  = resource.account_id
%p
  %strong LedgerItem Group:
  = resource.match_id

.footer
  = link_to "Edit", edit_resource_path
  = link_to "Destroy", resource_path, :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", collection_path