- title 'Transaction Details'

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to 'Edit transaction', edit_ledger_item_path
      %li= link_to 'Delete transaction', @ledger_item, :confirm => 'Are you sure you wish to delete this transaction?', :method => :delete
      - if @ledger_item.matched?
        %li= link_to 'Delete match', @ledger_item.match, :confirm => 'Are you sure you wish to delete the match?', :method => :delete
#block-tables.block
  .content
    %h2.title Transaction
    .inner
      %p= render :partial => 'story', :locals => { :ledger_item => @ledger_item }
      - if @ledger_item.matched?
        %p
          This transaction was posted against
          = (@ledger_item.matches.collect{ |li| link_to(li.account.name, li.account) }.join(', ') + '.').html_safe
