- title "Ledger Item"

%p
  %strong Sender:
  = resource.sender.name
%p
  %strong Recipient:
  = resource.recipient.name
%p
  %strong Issued On:
  = resource.issued_on
%p
  %strong Total Amount:
  = resource.total_amount
%p
  %strong Tax Amount:
  = resource.tax_amount
%p
  %strong Currency:
  = resource.currency
%p
  %strong Description:
  = resource.description
%p
  %strong Identifier:
  = resource.identifier
%p
  %strong Ledger Account:
  = resource.ledger_account_id
%p
  %strong Ledger Item Group:
  = resource.ledger_item_group_id

%footer
  = link_to "Edit", edit_resource_url
  = link_to "Destroy", resource_url, :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", collection_url

