- title 'Transaction Details'

- content_for :actions do
  %li= link_to 'Create transaction', new_ledger_item_path

%p.large
  = render :partial => 'story', :locals => { :ledger_item => @ledger_item }
  - if @ledger_item.matched?
    This transaction was posted against
    = (@ledger_item.matches.collect{ |li| link_to(li.account.name, li.account) }.join(', ') + '.').html_safe!

%p.large
  = link_to 'Edit', edit_ledger_item_path
  or
  = link_to 'delete', @ledger_item, :confirm => 'Are you sure?', :method => :delete
  this transaction.