- title "People"

- if collection.size > 0
  %table.data
    %tr.small
      %th Name
      %th Contact Name
      %th Address
      %th City
      %th State
      %th Postal Code
      %th Country
      %th Country Code
      %th Tax Number
      %th Is Self
    - for person in collection
      %tr{:class => "smaller #{cycle('odd', 'even')}"}
        %td= link_to person.name, resource_path(person)
        %td= person.contact_name
        %td= person.address
        %td= person.city
        %td= person.state
        %td= person.postal_code
        %td= person.country
        %td= person.country_code
        %td= person.tax_number
        %td= person.is_self
- else
  %p Nothing recorded yet.
%footer
  = link_to "New Person", new_resource_path