- title "Match Rules for #{@ledger_account.name}"

%table
  %tr
    %th Description Match String
    %th Debit
    %th Sender
    %th Recipient
    %th Matching Ledger Account
  - for match_rule in collection
    %tr
      %td= match_rule.description_matcher
      %td= match_rule.debit
      %td= match_rule.sender.name
      %td= match_rule.recipient.name
      %td= match_rule.matching_ledger_account.name
      %td= link_to "Show", resource_url(match_rule)
      %td= link_to "Edit", edit_resource_url(match_rule)
      %td= link_to "Destroy", resource_url(match_rule), :confirm => 'Are you sure?', :method => :delete

%footer= link_to "New match rule", new_ledger_account_match_rule_url
