- title "Match Rule"

%p
  %strong Description Match String:
  = resource.description_matcher 
%p
  %strong Debit:
  = resource.debit
%p
  %strong Sender
  = resource.sender.name
%p
  %strong Recipient
  = resource.recipient.name
%p
  %strong Matching Ledger Account:
  = resource.matching_ledger_account.name

%footer
  = link_to "Edit", edit_resource_url
  = link_to "Destroy", resource_url, :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", collection_url