- title "Import transactions"

- form_for @import, :html => { :multipart => true } do |form|
  = form.error_messages
  %dt
    %label{:for => 'import_account_id'} Account
  %dd
    = grouped_tree_select(Account.roots, 'import', 'account_id', @account)
  %dt
    = form.label :ending_balance
  %dd
    = form.text_field :ending_balance
  %dt
    = form.label :mapping_id
  %dd
    = form.collection_select :mapping_id, Mapping.all, :id, :name, { :include_blank => 'Select mapping' }
    = link_to('New mapping', new_mapping_path)
  %dt
    = form.label :file
  %dd
    = form.file_field :file, :as => :file
  %dd
    = submit_tag('Import transactions')

%p
  = link_to('View mappings', mappings_path)