- title "New import"

- content_for :sidebar do
  .block
    %h3 Tasks
    %ul.navigation
      %li= link_to('View mappings', mappings_path)
      %li= link_to('Create a new mapping', new_mapping_path)

#block-tables.block
  .content
    %h2.title New import
    .inner
      - form_for @import, :html => { :multipart => true, :class => "form" } do |form|
        = form.error_messages
        .group
          %label.label{:for => 'import_account_id'} Account
          = form.select :account_id, Account.all.collect{ |a| [a.name, a.id] }, { :include_blank => true }, :class => 'autocomplete'
        .group
          = form.label :ending_balance, nil, :class => "label"
          = form.text_field :ending_balance, :class => "text_field"
        .group
          = form.label :mapping_id, nil, :class => "label"
          = form.collection_select :mapping_id, Mapping.all, :id, :name, { :include_blank => 'Select mapping' }
        .group
          = form.label :file, nil, :class => "label"
          = form.file_field :file, :as => :file
        .group.navform.wat-cf
          %button.button{:type => "submit"}
            %img{:src => "/images/web-app-theme/tick.png", :alt => "Save"}
            Upload file
