%tr{:class => "#{cycle('odd', 'even')}"}[contact]
  %td
    %strong= contact.name
  %td
    = contact.self? ? "Yes" : "No"
  %td
    - if contact.tax_number
      = contact.tax_number
  %td
    - if contact.name
      = contact.contact_name
  %td
    - if contact.address || contact.city || contact.postal_code || contact.state || contact.country
      - formatted_address(contact)
  %td.last
    = link_to('Show', contact)
    |
    = link_to('Edit', edit_contact_path(contact))
    |
    = link_to('Delete', contact, :confirm => 'Are you sure?', :method => :delete)
    