- form_for @contact, :html => { :class => "form" } do |form| 
  = form.error_messages
  .group
    = form.label :name, nil, :class => "label"
    = form.text_field :name, :class => "text_field"
  .group
    = form.label :self, nil, :class => "label"
    = form.check_box :self
  .group
    = form.label :contact_name, nil, :class => "label"
    = form.text_field :contact_name, :class => "text_field"
  .group
    = form.label :address, nil, :class => "label"
    = form.text_field :address, :class => "text_field"
  .group
    = form.label :city, nil, :class => "label"
    = form.text_field :city, :class => "text_field"
  .group
    = form.label :state, nil, :class => "label"
    = form.text_field :state, :class => "text_field"
  .group
    = form.label :postal_code, nil, :class => "label"
    = form.text_field :postal_code, :class => "text_field"
  .group
    = form.label :country, nil, :class => "label"
    = form.text_field :country, :class => "text_field"
  .group
    = form.label :tax_number, nil, :class => "label"
    = form.text_field :tax_number, :class => "text_field"
  .group.navform.wat-cf
    %button.button{:type => "submit"}
      %img{:src => "/images/web-app-theme/tick.png", :alt => "Save"}
      = (form.object.new_record? ? "Create" : "Update") + " contact"