- form_for @contact do |form| 
  = form.error_messages
  %dl
    %dt= form.label :name
    %dd= form.text_field :name
    %dd
      = form.check_box :self
      = form.label :self
    %dt= form.label :contact_name
    %dd= form.text_field :contact_name
    %dt= form.label :email
    %dd= form.text_field :email
    %dt= form.label :phone_number
    %dd= form.text_field :phone_number
    %dt= form.label :address
    %dd= form.text_field :address
    %dt= form.label :city
    %dd= form.text_field :city
    %dt= form.label :state
    %dd= form.text_field :state
    %dt= form.label :postal_code
    %dd= form.text_field :postal_code
    %dt= form.label :country
    %dd= form.text_field :country
    %dt= form.label :tax_number
    %dd= form.text_field :tax_number
    %dd= submit_tag((form.object.new_record? ? 'Create' : 'Update') + ' contact')