- semantic_form_for resource do |f|
  - f.inputs do
    = f.error_messages
    
    = f.input :state, :as => :select, :collection => ["pending", "active"], :selected => "pending", :include_blank => false
    - f.input :ledger_items, :collection => LedgerItem.unmatched
    
    - f.semantic_fields_for :ledger_item do |ledger_item|
      = ledger_item.input :description
      = ledger_item.input :total_amount
      = ledger_item.inputs :transacted_on
      
  - f.buttons do
    = f.commit_button :button_html => { :value => t('formtastic.labels.commit') }