- title resource.name

%p
  %strong Currency:
  =h resource.currency
%p
  %strong Date Row:
  = resource.date_row 
%p
  %strong Total Amount Row:
  = resource.total_amount_row 
%p
  %strong Description Row:
  = resource.description_row 
%p
  %strong Second Description Row:
  = resource.second_description_row
%p
  %strong Has Title Row:
  = resource.has_title_row
%p
  %strong Day Follows Month:
  = resource.day_follows_month
%p
  %strong Reverses Sign:
  = resource.reverses_sign

.buttons
  = link_to "Edit", edit_resource_path(resource)
  = link_to "Destroy", resource, :confirm => 'Are you sure?', :method => :delete
  = link_to "View all", collection_path
