- semantic_form_for [@account, @rule] do |f|
  - f.inputs do
    = f.error_messages
    = f.input :matched_description
    = f.input :matched_sender, :prompt => 'Select contact'
    = f.input :matched_recipient, :prompt => 'Select contact'
    = f.input :matched_debit, :as => :select, :prompt => 'Select value'
    = f.input :new_sender, :prompt => 'Select contact'
    = f.input :new_recipient, :prompt => 'Select contact'
    = f.input :new_account, :prompt => 'Select account'
    - f.buttons do
      = f.commit_button :button_html => { :value => t('formtastic.labels.commit') }