- semantic_form_for [@account, resource] do |f|
  - f.inputs do
    = f.error_messages
    = f.input :description_matcher
    = f.input :debit, :as => :select, :prompt => "Select value"
    = f.input :sender, :prompt => "Select sender"
    = f.input :recipient, :prompt => "Select recipient"
    = f.input :matching_account, :prompt => "Select account"
    - f.buttons do
      = f.commit_button :button_html => { :value => t('formtastic.labels.rule.commit') }