- title "Rules for #{@account.name}"

%table
  %tr
    %th Description Match String
    %th Debit
    %th Sender
    %th Recipient
    %th Matching Account
  - for rule in collection
    %tr
      %td= rule.regexp
      %td= rule.debit
      %td= rule.sender.name
      %td= rule.recipient.name
      %td= rule.matching_account.name
      %td= link_to "Show", resource_path(rule)
      %td= link_to "Edit", edit_resource_path(rule)
      %td= link_to "Delete", resource_path(rule), :confirm => 'Are you sure?', :method => :delete

.footer= link_to "New rule", new_account_rule_path
