-title 'Log in to Bookkeeper'

- form_for(@user_session, :url => user_session_path) do |form|
  %dl
    %dt= form.label :login, 'Username'
    %dd= form.text_field :login
  %dl
    %dt= form.label :password, 'Password'
    %dd= form.password_field :password
  %dl
    %dd= submit_tag 'Log in'