-title 'Log in to Bookkeeper', false

- form_for(@user_session, :url => user_session_path, :html => { :class => 'bp' }) do |f|
  %dl
    %dt= f.label :login, 'Username'
    %dd= f.text_field :login, :class => 'title'
  %dl
    %dt= f.label :password, 'Password'
    %dd= f.password_field :password, :class => 'title'
  %dl
    %dd= submit_tag 'Log in »', :class => 'button'