- form_tag("", :method => "get", :class => "form") do
  - if @self_options.size > 1
    .group
      = select_tag(:contact, options_for_select(@self_options, params[:contact]))
  - else
    = hidden_field_tag :contact, @self_options.first.last
  - if @report_type == "balance_sheet"
    .group
      = hidden_field_tag :since, "1990-01-01"
      = text_field_tag :till, params[:till] || Date.today
  - else
    .group
      = label_tag :since, "From", :class => "label"
      = text_field_tag(:since, params[:since] || Date.today, :class => "text_field")
    .group
      = label_tag :till, "To", :class => "label"
      = text_field_tag(:till, params[:till] || Date.today, :class => "text_field")
  .group.navform.wat-cf
    %button.button{:type => 'submit'}
      Update report