- title @report.name

- content_for :sidebar do
  .block
    %h3 Options
    .content
      %br/
      = render :partial => 'form'

#block-tables.block
  .secondary-navigation
    %ul.wat-cf
      - for name in Report::NAMES
        %li{:class => @report.name == name ? "active" : ""}= link_to(name.titleize, report_path(name.parameterize))
  .content
    %h2.title= @report.name
    .inner
      - if @report.available?
        %table.table.report
          - for root in @report.roots
            - if root.grand_total_for?(@report.perspective, @report.from_date, @report.to_date)
              %tr.root_account
                %td
                  =h root.name
                %td
              = render(:partial => "child", :collection => root.children)

              %tr.root_sum
                %td
                  = "Total #{root.name}"
                %td.currency
                  = monetize(root.grand_total_for_in_base_currency(@report.perspective, @report.from_date, @report.to_date, @report.base_currency), @report.base_currency)
          %tr.net
            %td
              Net
            %td.currency
              = monetize(@report.roots.map { |a| a.grand_total_for_in_base_currency(@report.perspective, @report.from_date, @report.to_date, @report.base_currency) }.sum, @report.base_currency)
      - else
        %p
          No data in given period