- title @report_type.titleize

= render :partial => 'form'

- unless @roots.blank?
  %table.report
    - for root in @roots
      - if root.grand_total_for?(params[:contact], params[:since], params[:till])
        %tr.root_account
          %td{:colspan => 2}
            =h root.name
        = render(:partial => "child", :collection => root.children)
            
        %tr.root_sum
          %td
            = "Total #{root.name}"
          %td.currency
            - root.grand_total_for(params[:contact], params[:since], params[:till]).each_pair do |currency, total|
              = monetize(total.abs, currency)
              %br
    %tr.net
      %td
        Net
      %td.currency
        - @roots.inject({}) { |m, a| m.merge(a.grand_total_for(params[:contact], params[:since], params[:till])) { |k, v1, v2| v1 + v2 } }.each_pair do |currency, total|
          = monetize(total.abs, currency)
          %br