- title @account.name, false
%h1= account_title

%h2
  Subaccounts
- unless @account.children.length == 0
  %ul
    = render :partial => "child", :collection => @account.children
%p= link_to "Create new account", new_resource_path(resource, :parent_id => @account.id)
%p= link_to "View transactions", ledger_items_path(resource, :query => "in #{@account.name}")
%p= link_to "Import transactions", new_account_import_path(resource)
%p= link_to "View rules", account_rules_path(resource)
%p TODO Display other summary info on account
  
.footer
  = link_to "Edit", edit_resource_path
  = link_to "Delete", resource_path, :confirm => 'Are you sure?', :method => :delete
  = link_to "View all", collection_path