- title @account.name, false

%p= account_ancestry
%h3= @account.name
- unless @account.children.length == 0
  %p
    Subaccounts:
    - @account.children.each do |child|
      %br
      = link_to(child.name, account_path(child))
%p TODO Display other summary info here.
  
.buttons
  = link_to 'Edit »', edit_account_path, :class => 'button'
  = link_to 'Delete »', account_path, :confirm => 'Are you sure?', :method => :delete, :class => 'button'
  = link_to 'Transactions »', ledger_items_path(@account, :query => "in #{@account.name}"), :class => 'button'
  = link_to 'Rules »', account_rules_path(@account), :class => 'button'